@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ypsjsy');
  src:  url('fonts/icomoon.eot?ypsjsy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ypsjsy') format('truetype'),
    url('fonts/icomoon.woff?ypsjsy') format('woff'),
    url('fonts/icomoon.svg?ypsjsy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e902";
}
